<% provide :title, t(".title") %>
<% provide :base, t(".base") %>
<h1><%= t ".h1_tag" %></h1>
<p>
  <%= t ".content_1" %>
  <%= link_to t(".content_2"), "http://www.railstutorial.org/help" %>.
  <%= t ".content_3" %>
  <%= link_to t(".content_4"), "http://www.railstutorial.org/book" %>.
</p>
