<% provide :title, t(".title") %>
<% provide :base, t(".base") %>
<%= link_to t(".english"), locale:"en" %>
<%= link_to t(".vietnamese"), locale:"vi" %>
<div class="center jumbotron">
  <h1><%= t ".h1_tag" %></h1>
  <h2>
    <%= t ".content_1" %>
    <%= link_to t(".content_2"), "http://www.railstutorial.org/" %>
  </h2>
  <%= link_to t(".signup"), "#", class: "btn btn-lg btn-primary" %>
</div>
